
body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color:#373867;
    color:#FFFFFF;
}
header{
    position: relative;
    width: 70%;
    margin-top: 75px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 14px;
    border-bottom: 4px solid #49a37b;
}
header h1 {
    color: #FFFFFF;
    display: inline;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-right: 40px;
    margin-top: 84px;
}
header h2 {
    display: inline;
    width: 30%;
    margin-bottom: 20px;
    padding: 5px;
}
main {
    position: relative;
    float: right;
    width: 70%;
    height: 100%;
}
aside{
    position: absolute;
    width: 425px;
    height: 3895px;
    left: 0px;
    top: 0px;
    background-color: #262862;  
}
aside form{
    box-sizing: border-box;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: red;
}
section.whyTrack{
    color: #FFFFFF;
}
section.whyTrack div{
    height: 168px;
    width: 214.30960083007812px;
    left: 1179.6884765625px;
    top: 1689px;
    border-radius: 17px;
    background-color: #FFFFFF;
    color: #373867;
}
section.functions div{
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 118px;
    width: 35%;
    border-bottom: 4px solid #49a37b;
}
section.functions img{
    float: left;
}
section.whyTrack div{
    display: inline-block;
    margin: 12px;
    width: 20%;
}
section.resources div{
    display: inline-block;
    width: 20%
}
footer{
    position: relative;
    width: 1087px;
    height: 296px;
    right: 450px;
    bottom: 0px;
    border-bottom: 4px solid #49a37b;
}
#footerIcons{
    filter: invert(99%) sepia(100%) saturate(17%) hue-rotate(240deg) brightness(105%) contrast(100%);
    color: #FFFFFF;
}