@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body{
    font-family: 'Roboto';
    min-height: 100vh;
    background-color:#373867;
    color:#FFFFFF;
}
.btn-sidebar .time-tracker .functions .why-track .contact-us .links{
    width: 90%;
    padding-top: 3vh;
    padding-bottom: 6vh;
    margin-left: 4%;
    margin-right: 5%;
    margin-bottom: 5vh;
    border-bottom: 4px solid #49a37b;
}
@media (min-width: 480px) {
    html {
        font-size: 17px;
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 19px;
    }
    header,
    main,
    footer {
        width: 75%;
        margin-left: 25%;
    }
}